body {
    font-family: roboto;
    font-weight: 400;
}
.LpTitle {
    text-align: center;
    color: #fff;
    font-size: 70px;
    margin-top: 50px;
    line-height: 90px;
}
.LpTitleThin {
    display: inline-block;
    font-weight: 100;
    width: auto;
}
.LpTitleBold {
    display: inline-block;
    font-weight: 500;
}
.LpSubTitle {
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}
.LpIconPanel {
    margin-top: 120px;
    margin-bottom: 100px;
}
.LpFiveIconRing {
    background-image: url("../img/Iconring.png");
    height: 105px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
}
.LpFiveIcon {
    height: 105px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105px;
    -webkit-transition: transform 500ms cubic-bezier(0.2, 0.45, 1, 1.01);
    cursor: pointer;
    margin-top: 15px;
}
.LpFiveIcon:hover {
    -ms-transform: rotate(30deg);
    /* IE 9 */
    
    -webkit-transform: rotate(30deg);
    /* Safari */
    
    transform: rotate(360deg);
    /* Standard syntax */
}
.LpFiveIcon1 {
    background-image: url("../img/Icon1.png");
}
.LpFiveIcon2 {
    background-image: url("../img/Icon2.png");
}
.LpFiveIcon3 {
    background-image: url("../img/Icon3.png");
}
.LpFiveIcon4 {
    background-image: url("../img/Icon4.png");
}
.LpFiveIcon5 {
    background-image: url("../img/Icon5.png");
}
.LpFiveText {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
}
.LpIconWrapper {
    color: #fff;
    border-radius: 4px;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}
.LpIconWrapper:hover {
    color: orange;
}
.LandingPageBk {
    background: url("../img/bk2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}
.RcPlotPanel {
    background-color: #2B90E5;
    color: #fff;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.RcPanelTitle {
    font-size: 39px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.RcPanelTitleBold {
    display: inline-block;
    width: auto;
    padding-right: 7px;
    font-weight: 300;
}
.RcPanelTitleThin {
    display: inline-block;
    width: auto;
    padding-left: 0px;
    font-weight: 100;
}
.RcPanelSubTitle {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.container {
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 50px;
}
.group {
    position: relative;
    margin-top: 30px;
    display: none;
}
input {
    font-size: 16px;
    padding: 5px 10px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CACACA;
}
input:focus {
    outline: none;
}
label {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* active state */

input:focus ~ label,
input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #177CD0;
}
/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #177CD0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}
/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
.FirstPage{
    position: relative;
    background-size: cover;    min-height: 100%;
}
.SearchIcon{
    float: right;
    position: relative;
    top: -25px;
    font-size: 17px;
    color: #177CD0;
    cursor: pointer;
}
.Plotcontainer{
    height: 400px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 20px;
}
.PlotcontainerTitle{
    height: 50px;
    background-color: #177CD0;
    color: #fff;
    line-height: 50px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 18px;
    font-weight: 300;
}
.PlotcontainerTitleBold{
    width: auto;
    padding-right: 2px;
    font-weight: 300;
    display: inline-block;    
    height: 49px;    
    background-size: 50px;    background-repeat: no-repeat;    background-position: left;    
    background-position-x: 0px;    
    padding-left: 45px;
}
.PlotcontainerTitleThin{
    width: auto;    
    padding-left: 0px;
    font-weight: 400;
    display: inline-block;
}
.PlotWrapper{
    height: 350px;
    text-align: center;
    color: #9B9B9B;
    margin-bottom: 50px;
    overflow: hidden;
}
.AddToCompPanel{
    font-size: 15px;
    text-align: right;
    float: right;
    cursor: pointer;
}
.RecentPanel{
    height: 400px;    background-color: white;    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);    border-radius: 4px;    margin-top: 20px;
    float: right;
    margin-bottom: 50px;
}
.RecentPanelTilte{
    height: 50px;    
    background-color: #177CD0;    color: #fff;    line-height: 50px;    border-top-right-radius: 3px;    border-top-left-radius: 3px;    font-size: 18px;    font-weight: 300;
}
.RecentPanelWrapper{
    line-height: 300px;
    color: #ADADAD;
    text-align: center;
}

@media (min-width: 768px){
    .Plotcontainer{
        width: calc(66.66666667% - 20px);
    }
    .RecentPanel{
        width: calc(33.33333333% - 20px);
    }
}
.RecentContent{
    height: 45px;
    background-color: #fff;
    line-height: 45px;
}
.RecentPanelIcon{
    background-image: url(../img/Icon1blue.png);
    height: 50px;
}
.RecentPanelText{
    background-image: url(../img/Icon1blue.png);    
    height: 40px;    
    background-size: 35px;    background-repeat: no-repeat;    
    background-position: left;
    background-position-x: 15px;
    padding-left: 60px;
    text-align: left;
    color: #282828;
}
.RecentPanelDelete{
    color: rgb(245, 104, 104);
    font-size: 19px;
    text-align: center;
}
.RecentPanelDelete i.fa.fa-trash-o {
    line-height: 45px;
    cursor: pointer;
}
.RecentContent:nth-child(2n) {
    background: #F5F5F5;
}
.RouterContainer{
    position:absolute;
    float: right;
    right: 0px;
    top: -25px;
    z-index: 1;
}
.RouterIcon {
    width: 45px;
    height: 45px;
    background-color: #177CD0;
    border-radius: 50px;
    margin-right: 5px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    cursor: pointer;
}
.RouterIcon i.fa.fa-home {
    line-height: 45px;
}
.RouterIcon1{
    background-image: url("../img/Icon1.png");
    background-size: 45px;
    background-repeat: no-repeat;
}
.RouterIcon2{
    background-image: url("../img/Icon2.png");
    background-size: 45px;
    background-repeat: no-repeat;
}
.RouterIcon3{
    background-image: url("../img/Icon3.png");
    background-size: 45px;
    background-repeat: no-repeat;
}
.RouterIcon4{
    background-image: url("../img/Icon4.png");
    background-size: 45px;
    background-repeat: no-repeat;
}
.PlotCanvas{
    position: relative;
}
.ArrowBottom{
    height: 25px;
    background-image: url("../img/arrowdown.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    background-size: 45px;
    cursor: pointer;
}
button.RPOkButton {
    position: absolute;
    right: 0px;
    background-color: rgba(255, 255, 255, 0);
    height : 0px;
    padding: 0px;
    border : 0px;
}
.rChart {
  -ms-transform: scale(1.2); /* IE 9 */      
  -webkit-transform: scale(1.2); /* Safari */      
  transform: scale(1.1);
  float: left;
  width: 100% !important;
  position: relative;
  top: 15px;
  height: 100%;
  line-height: 300px;
  /* display: none; */
}
.chart1Comment{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 300px;
}
/*.shiny-output-error {
  color: rgba(255, 0, 0, 1);
  white-space: pre-wrap;
  display: none;
}*/
.chart1Loading{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
}

/*====================Spinner====================*/
.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
svg.spinner {
    position: relative;    top: 120px;
}
.Loading{
    height: 100%;
    background-color: rgb(255, 255, 255) !important;    background-image: url(../img/spinningwheel.gif);
    background-repeat: no-repeat;    background-position: center;    background-size: 110px;
    display: none;
}
.WheelSpinning{
    display: block;
}
div#forChart1 {
    display: block;
}

div#chart1 {
    display: block;
}

.ComparisonPage {
    margin-top: 70px;
}
.ComparisonWrapper {
    width: 46%;
    margin-left: 3.5%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);     border-radius: 4px;
    overflow: hidden;
    margin-bottom: 40px;
}
.ComparisonHeader {
    height: 50px;     
    background-color: #177CD0;     
    color: #fff;     line-height: 50px;     border-top-right-radius: 3px;     border-top-left-radius: 3px;     font-size: 18px;     font-weight: 300;
}
.ComparisonContent {
    position: relative;
    left: 32px;
    margin-bottom: 50px;
    top: 15px;
}
.ComparisonWrapper:nth-child(2n){
    margin-left: 1.5%;
}
.emptyBox {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 250px;
    color: #777777;
    font-size: 25px;
    font-weight: 100;
    height: 160px;
    margin-bottom: 100px;
    background-position: center;
}
.emptyBoxImg{
    background-image: url(../img/animals.jpg);
    height: 150px;
    background-repeat: no-repeat;
    background-color: #A9C58A;
    width: 150px;
    background-position: center;
    border-radius: 170px;
    position: relative;
    left: calc(50% - 75px);
    background-size: 140px;
}
.GroupofTextbox{
    height: 63px;
}
div#forChart6 {
    display: block;
}
div#forChart11 {
    display: block;
}
.RouterContainerText {
    position: absolute;
    float: right;
    right: 208px;
    top: -27px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border-radius: 3px;
    background-color: #2085DA;
    height: 45px;
    line-height: 45px;
    padding: 0px 10px;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.2);
    display: none;
}
.PlotcontainerTitleBoldBF {
    background-image: url("../img/Icon2.png");
}
.PlotcontainerTitleBoldCP {
    background-image: url("../img/Icon3.png");
}
.PlotcontainerTitleBoldRC {
    background-image: url("../img/Icon1.png");
}